/* RESET */
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #f4f6fb;
}

/* Login card */
.login-card {
    background: #fff;
    width: 360px;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.15);
    text-align: center;
}

/* Inputs */
.login-card input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 15px;
}

/* Button */
.login-card button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(135deg, #6a7cff, #7b5dbf);
    color: #fff;
    font-weight: 600;
}

/* Hover */
.login-card button:hover {
    opacity: 0.9;
}

/* Register link */
.login-card a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #6a7cff;
}

.page-container {
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
}

/* NAVBAR */
.navbar {
    height: 60px;
    background: #111827;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.nav-left {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav-right a {
    color: #d1d5db;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
}

.nav-right a:hover,
.nav-right a.active {
    color: white;
}

.logout {
    color: #f87171 !important;
}
